<h1>Create new posts</h1>
<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :content %>
  <%= f.input :read_time %>
  <%= f.input :date %>
  <%= f.button :submit %>
<% end %>
