<h1><%= @post.title %></h1>
<h4><%= @post.subtitle %></h4>
<p><%= @post.content %></p>
<p><%= @post.date %></p>
<p><%= @post.read_time %> minutos</p>
<% if user_signed_in? %>
  <% if current_user.id == @post.user_id  %>
    <%= link_to 'Editar', edit_post_path(@post) %>
    <%= link_to 'Eliminar', post_path(@post),
                          method: :delete,
                          data: { confirm: "Estás seguro que quieres eliminar este post?" }%>
  <% end %>
<% end %>
